<!DOCTYPE html>
<html>

<style media="print">
    body {display: block !important;}
</style>

<!--TO DO:
    -center everything for printing
    -create table with 7 days in the week. (copy then modify newweek.html for this. it looks good)
-->



<head>
    <h1>
        Company Report
    </h1>
</head>
<body>
    <table border="1">
        <tr>
            <td>hi</td>
            <td>hello</td>
        </tr>
    </table>
    <input TYPE="button" onClick="window.print()">
</body>
            


</html>
