<!DOCTYPE html>
<html>

<head>
    <title>Edit {{day.date}}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}" />
</head>

<body>
    {% include 'main/navbar.html' %}

    {% if day %}
    <h1>Edit {{day.date}}</h1>
    {% else %}
    <h1>New Day (select date)</h1>
    {% endif %}
    

    <h3>debugging purposes:
        {% if day %} 
            {{day}} 
        {% else %} 
            no day created 
        {% endif %}
    </h3>
    <h4>Truck: {{truck.truckName}}</h4>

    <div class="container">
        
        <div class="row">
            <div class="col-xs-12">
                <!--if the day that was passed through already exists and is just being edited -->
                {% if day %}
                <form action="/addday">
                    <div class="form-group">
                        <label for="">Day: </label>
                        <select name="dayName" id="dayName">
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Friday">Friday</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="datePick">Date: </label>
                        <input type="date" id="datePick" name="datePick" value="{{dayDate}}"/>
                    </div>

                    <div class="form-group">
                        <label for="">Number of Deliveries: </label>
                        <input type="number" id="numDeliveries" name="numDeliveries" value="{{day.numDeliveries}}"/>
                    </div>

                    <div class="form-group">
                        <label for="helperName">Helper: </label>
                        <select name="helperName" id="helperName">
                            {% for e in employees %}
                                <option value="{{e}}">{{e}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="driverName">Driver: </label>
                        <select name="driverName" id="driverName">
                            {% for e in employees %}
                                <option value="{{e}}">{{e}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="storeNum">Store Number: </label>
                        <select name="storeNum" id="storeNum">
                            {% for s in stores %}
                                <option value="{{s.storeNumber}}">{{s.storeNumber}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="saturdayDate">Week of: </label>
                        <input type="date" id="saturdayDate" name="saturdayDate" value="{{saturdayDate}}">
                    </div>
                    
                    <input type="hidden" name="dayID" value="{{day.id}}"/>
                    <input type="hidden" name="truckName" value="{{truck.truckName}}">
                    <input type="submit">
                    
                </form>
                <!--otherwise, create a new day-->
                {% else %} 
                <form action="/addday">
                    <div class="form-group">
                        <label class="isOff" for=""> OFF DAY? </label>
                        <input type="checkbox" name="isOff"> 
                    <div class="form-group">
                        <label for="">Day: </label>
                        <select name="dayName" id="dayName">
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Friday">Friday</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="datePick">Date: </label>
                        <input type="date" id="datePick" name="datePick"/>
                    </div>

                    <div class="form-group">
                        <label for="">Number of Deliveries: </label>
                        <input type="number" id="numDeliveries" name="numDeliveries"/>
                    </div>

                    <div class="form-group">
                        <label for="helperName">Helper: </label>
                        <select name="helperName" id="helperName">
                            {% for e in employees %}
                                <option value="{{e}}">{{e}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="driverName">Driver: </label>
                        <select name="driverName" id="driverName">
                            {% for e in employees %}
                                <option value="{{e}}">{{e}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="storeNum">Store Number</label>
                        <select name="storeNum" id="storeNum">
                            {% for s in stores %}
                                <option value="{{s.storeNumber}}">{{s.storeNumber}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="saturdayDate">Week of: </label>
                        <input type="date" name="saturdayDate" id="saturdayDate">
                    </div>
                    <input type="hidden" name="truckName" value="{{truck.truckName}}">
                    <input type="submit">
                    
                </form>
                {% endif %}
                
                

            </div>
        </div>
    </div>
</body>

</html>
