<!DOCTYPE html>
<html>

<head>
    <title>Create {{day.date}}</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    {% include 'main/navbar.html' %}

    {% if day %}
    <h1 class="text-center">Edit {{day.date}}</h1>
    {% else %}
    <h1 class="text-center">New Day (select date)</h1>
    {% endif %}
    
    <h2 class="text-center">Truck: {{truck.truckName}}</h2>

    <div class="container">
        
        <div class="row">
            <div class="col-xs-4 center">
                
                <!--if the day that was passed through already exists and is just being edited -->
                
                {% if day %}
                <form action="/addday">
                    <div class="form-group">
                        <label for="">Day: </label>
                        <select name="dayName" id="dayName">
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Friday">Friday</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="datePick">Date: </label>
                        <input type="date" id="datePick" name="datePick" value="{{dayDate}}"/>
                    </div>

                    <div class="form-group">
                        <label for="">Number of Deliveries: </label>
                        <input type="number" id="numDeliveries" name="numDeliveries" value="{{day.numDeliveries}}" min=0/>
                    </div>

                    <div class="form-group">
                        <label for="helperName">Helper: </label>
                        <select name="helperName" id="helperName" required>
                            <option value="">None</option>
                            {% for e in employees %}
                                <option value="{{e}}">{{e}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="driverName">Driver: </label>
                        <select name="driverName" id="driverName" required>
                            <option value="">None</option>
                            {% for e in employees %}
                                <option value="{{e}}">{{e}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="storeNum">Store Number: </label>
                        <select name="storeNum" id="storeNum" required>
                            <option value="">None</option>
                            {% for s in stores %}
                                <option value="{{s.storeNumber}}">{{s.storeNumber}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="saturdayDate">Week of: </label>
                        <input type="date" id="saturdayDate" name="saturdayDate" value="{{saturdayDate}}" required>
                    </div>
                    
                    <input type="hidden" name="dayID" value="{{day.id}}"/>
                    <input type="hidden" name="truckName" value="{{truck.truckName}}">
                    <input type="submit">
                    
                </form>
                
                <!--otherwise, create a new day-->
                {% else %} 
                <form class="well" action="/addday">
                    <div class="form-group">
                        <label class="gray" id="isOff" for="">Off day? </label>
                        <input type="checkbox" name="isOff"> 
                    </div>

                    <div class="form-group">
                        <label for="datePick">*Work date: </label>
                        <input type="date" class="newDatePick" id="datePick" name="datePick" value="{{requestedDate}}"/>
                    </div>

                    <div class="form-group">
                        <label for="">*Day: </label>
                        <select name="dayName" id="dayName" class="newDayName">
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                        </select>
                    </div>
                    <div class="form-group numDeliveries">
                        <label for="">*Number of Deliveries: </label>
                        <input type="number" id="numDeliveries" name="numDeliveries" min=0 required/>
                    </div>

                    <div class="form-group helperName">
                        <label for="helperName">*Helper: </label>
                        <select name="helperName" id="helperName" class="helperName" required>
                            <option value="">None</option>
                            {% for e in employees %}
                                <option value="{{e}}">{{e}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group driverName">
                        <label for="driverName">*Driver: </label>
                        <select name="driverName" id="driverName" class="driverName" required>
                            <option value="">None</option>
                            {% for e in employees %}
                                <option value="{{e}}">{{e}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group storeNum">
                        <label for="storeNum">*Store Number</label>
                        <select name="storeNum" id="storeNum" class="storeNum" required>
                            <!--store numbers from database -->
                            <option value="">None</option>
                            {% for s in stores %}
                                <option value="{{s.storeNumber}}">{{s.storeNumber}}</option>
                            {% endfor %}
                            <!---->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="storeNum2" class="gray storeNum2">Second Store Number</label>
                        <select name="storeNum2" id="storeNum2">
                            <option value="0">None</option>
                            {% for s in stores %}
                                <option value="{{s.storeNumber}}">{{s.storeNumber}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- add optional field for second truck -->

                    <div class="form-group">
                        <label for="saturdayDate">*Week of: </label>
                        <input type="date" name="saturdayDate" id="saturdayDate" required>
                    </div>
                    <input class="text-center" type="hidden" name="truckName" value="{{truck.truckName}}">
                    <input type="submit">
                    
                </form>
                {% endif %}
                <script src="{% static 'main/js/preFill.js' %}"></script>
                <script src="{% static 'main/js/formValidation.js' %}"></script>

            </div>
        </div><!-- row -->
    </div>
</body>

</html>
