<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>
 
    <body>
        <!--header-->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Optimus Logistics</a>
                </div>
            
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home </a>
                        </li>
                        <li class="">
                            <a href="/newweek">New Week </a>
                        </li>
                        <li class="">
                            <a href="">Reports </a>
                        </li>
                    
                    </ul>
                </div> 
            
            </div>
        </nav>
        <h1>Welcome to the home page</h1>
        <h3>{{test}}</h3>
        <form id="datePick" action="/day">
            <select name="month">
                <option value="January">January</option>
            </select>
            <select name="day">
                <option value="1">1</option>
            </select>
            <select name="year">
                <option value="2017">2017</option>
            </select>
            <input type="submit"/>
        </form>
    </body>


</html>