h1 {
    color: cornflowerblue;
}
.center {
    margin-left: 33%;
    margin-right: 33%;
}
.gray {
    color: gray;
}
#worked {
    color: green;
}
.isOff {
    color: green;
}
.red {
    color: red;
}